body {
    display: flex;
    width: 100%;
    justify-content: center ;
}
.wrapper {
    width: 500px;
    height: 500px;
    background: aqua;
}

.colors__item {
    height: 25px;
    width: 25px;
}

.red {
    background-color: red;
}

.pink {
    background-color: pink;
}

.mediumpurple {
    background-color: mediumpurple;
}

.navy {
    background-color: navy;
}

.deepskyblue {
    background-color: deepskyblue;
}

.yellow {
    background-color: yellow;
}
